{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid bg-light px-0 pb-5" id="header">

    {{ include('menu.html.twig') }}

    <div class="container-md px-0">

        {% block simplebase %}{% endblock %}
        
    </div>
    
</div>

{% endblock %}
