{{ form_start(form) }}
    <ul class="medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}"></ul>
    {{ form_widget(form) }}
    <button type="button" class="add_item_link" data-collection-holder-class="medias">Ajouter un image</button>
{{ form_end(form) }}